@import '../../principles/variables';

.presentation {
  background-color: black;
  color: white;
  display: none;
}

:fullscreen {
  display: block;
}

.presentation-slide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p {
    font-size: 4vw;
    font-family: $headings-font-family;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 0;
  }
}
