@import '../../principles/variables';
@import '../../principles/mixins';

.setlist-title {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    font-size: .75rem;
  }

  &, span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.setlist-actions {
  flex: 1 0 0;
  flex-wrap: nowrap;
  display: flex;
}
