@import '../principles/variables';
@import '../principles/mixins';

.card {
  margin-bottom: 1.5rem;
  font-size: .875rem;

  @include media-breakpoint-up(md) {
    font-size: $font-size-base;
  }
}

.card-xs-borderless {
  @include media-breakpoint-down(xs) {
    margin-left: -15px;
    margin-right: -15px;
    border-radius: 0;
    border: none;

    .card-body {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

.card-title {
  margin: $card-spacer-y 1rem #{$card-spacer-y / 4};
  font-size: .75rem;
  text-transform: uppercase;
  opacity: 0.75;

  @include media-breakpoint-up(lg) {
    margin: $card-spacer-y $card-spacer-x #{$card-spacer-y / 4};
  }
}

.card-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;

  .sortable-placeholder {
    background-color: $gray-100;
  }
}

.card-list-item {
  position: relative;
}

.card-list-item + .card-list-item {
  border-top: solid 1px $gray-100;
}

.card-list .sortable-placeholder,
.card-list-link,
.card-list-header {
  position: relative;
  min-height: 1.5em;
  padding: .5em 0 .5em 2em;
  display: block;
  color: $body-color;
}

.card-list-link {
  .card-list-item__title,
  .fa-fw {
    color: $link-color;
  }

  &:hover {
    text-decoration: none;
    color: $body-color;

    .card-list-item__title,
    .fa-fw {
      text-decoration: underline;
      color: $link-hover-color;
    }
  }

  &.active {
    .card-list-item__title {
      text-decoration: underline;
      color: $body-color;
    }
  }

  .card-list-item__drag .fa-fw {
    color: $body-color;
  }

}

.card-list-item__icon {
  position: absolute;
  margin-top: .25rem;
  left: 0;
  top: .5em;
}

.card-list-header {
  padding-bottom: 0;
  > div {
    font-size: .75rem;
    text-transform: uppercase;
    color: $gray-600;
  }
}

.card-body + .card-body {
  border-top: solid 1px $gray-100;
}

.card-list-item__subtitle {
  font-size: .75rem;
  color: $gray-600;
}

.card-list-item__drag {
  cursor: ns-resize;
  width: 2rem;
  z-index: 1;
}

.col-key {
  flex: 0 0 70px;
  max-width: 70px;
  padding-left: $grid-gutter-width / 2;
  padding-right: $grid-gutter-width / 2;
}
