@import '../principles/variables';

.bg-purple {
  background-color: #674998;
}

.navbar-brand {
  font-family: Lobster, $font-family-base;
  text-shadow: 0 1px 1px black;
  font-size: 2rem;
  line-height: 1.5rem;
}
