@import '../principles/variables';
@import '../principles/mixins';

.jumbotron--intro {
  background-image: url(guitarist.jpg);
  background-size: cover;
  background-position: center;
  height: 600px;
  height: calc(100vh - 56px);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;

  h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
    font-weight: bold;

    @include media-breakpoint-up(sm) {
      font-size: 3rem;
    }

    @include media-breakpoint-up(lg) {
      font-size: 3.5rem;
    }

    @include media-breakpoint-up(xl) {
      font-size: 4rem;
    }
  }

  form {
    width: 100%;
    max-width: 600px;
    margin-bottom: 4rem;
  }

  .form-control-icon {
    color: white;
  }

  :-webkit-autofill ~ .form-control-icon {
    color: black;
  }

  input.form-control-lg {
    border-radius: 1.5rem;
    background-color: rgba(black, 0.25);
    border-color: white;
    color: white;

    &::placeholder {
      color: rgba(white, 0.75);
    }

    &:hover {
      border-color: white;
    }

    &:focus {
      border-color: $primary;
    }
  }
}

.jumbotron--bg-1 {
  background-image: url(audience.jpg);
}
