@import '../principles/variables';
@import '../principles/mixins';

.song-page {
  max-width: 800px;
}

.song-title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.75em;
  margin-bottom: 0;

  @include media-breakpoint-up(md) {
    font-size: 2.25em;
  }
}

.song-subtitle {
  font-weight: 700;
  text-transform: uppercase;
  color: $gray-400;
  font-size: 1.25em;
}

.song-content {
  margin-top: 1em;
  font-size: 1.125em;
}

.song-section-title {
  font-weight: 700;
  text-transform: uppercase;
  color: $gray-400;
  font-size: 1em;
  margin-bottom: 0;

  .song-section--chorded & {
    margin-bottom: .5em;
  }

  .song-page--hide-chords & {
    margin-bottom: 0;
  }
}

.song-notes {
  margin-bottom: 1.5em;
  font-size: .875em;
  opacity: .9;
  background-color: $yellow;
  padding: 1em;
}

.song-section {
  margin-bottom: 1.75em;
  page-break-inside: avoid;
}

.song-line {
  min-height: 1.5em;
  position: relative;
}

.spacer {
  display: inline-block;
  text-align: center;
  position: relative;
  vertical-align: top;
}

.chord {
  position: absolute;
  margin-top: -1.25em;
  color: $primary;
  font-size: .75em;
  pointer-events: none;
}

.song-section--chorded .song-line {
  line-height: 2.5em;
  margin-top: .25em;
  margin-bottom: -.5em;
}

.song-page--preview {
  .song-title {
    font-size: 2em;
  }

  .song-subtitle {
    font-size: 1.25em;
  }
}

.song-page--hide-chords {
  .spacer {
    display: none;
  }

  .chord {
    display: none;
  }

  .song-section--chorded .song-line {
    line-height: inherit;
    margin-top: 0;
    margin-bottom: 0;
  }

}