@import '../principles/variables';

.versions {
  list-style: none;
  padding-left: 0;
  margin-bottom: -.5rem;
  margin-top: -.5rem;
}

.version {
  display: block;
  padding-left: 2rem;
  position: relative;
  margin-bottom: .5rem;
  margin-top: .5rem;
  color: $body-color;

  &:hover {
    text-decoration: none;
    color: $body-color;

    .version-title {
      text-decoration: underline;
      color: $link-hover-color;
    }
  }

  &.active {
    .version-title {
      font-weight: bold;
      color: $body-color;
    }
  }

  .fa-fw {
    left: .125rem;
    top: .25rem;
    color: $primary;
  }
}

.version-title {
  color: $link-color;
}

.version-icon {
  position: absolute;
  left: 0;
}

.version-subtitle {
  font-size: .75rem;
  text-transform: uppercase;
  color: $gray-600;
}
