.navbar.no-print.bg-light.px-0
  .container.flex-nowrap
    .setlist-actions.dropdown
      = link_to 'javascript:void(0)',
                    class: 'btn btn-info js-toggle-songs mr-2' do
        %i.fas.fa-list
        %span.d-none.d-md-inline.ml-1 Songs

    .setlist-title
      %span= title @setlist.to_s
      - if can? :update, @setlist
        = link_to edit_setlist_path(@setlist),
                  class: 'd-none d-md-inline ml-2',
                  data: { toggle: 'tooltip' } do
          %i.fas.fa-pen

    .setlist-actions
      .ml-auto.d-flex
        -#= link_to 'javascript:void(0)',
                    class: 'btn btn-outline-primary d-none d-md-inline ml-2',
                    title: 'Full screen',
                    data: { toggle: 'tooltip' } do
          %i.fas.fa-tv
        -# if can? :update, @setlist
          = link_to 'javascript:void(0)',
                      class: 'btn btn-outline-primary ml-2',
                      title: 'Edit song',
                      data: { toggle: 'tooltip' } do
            %i.fas.fa-pencil-alt
