.glide
  .glide__track{ data: { glide_el: "track" } }
    %ul.glide__slides#setlist-slides
      - @setlist.setlist_versions.ordered.decorate.each do |setlist_version|
        %li.glide__slide{ data: { id: setlist_version.to_param }}
          .container
            %article.song-page.mx-auto
              %h1.song-title
                = setlist_version.title

              - if setlist_version.artist_names.present?
                %h2.song-subtitle
                  = setlist_version.artist_names

              .song-content
                = setlist_version.to_html
