.glide
  .glide__track{ data: { glide_el: "track" } }
    %ul.glide__slides#setlist-slides
      - @setlist.setlist_versions.ordered.includes(:version).each do |setlist_version|
        - version = setlist_version.version.decorate
        %li.glide__slide{ data: { id: setlist_version.to_param }}
          .container
            %article.song-page.mx-auto
              %h1.song-title
                = version.title

              - if version.artists.present?
                %h2.song-subtitle
                  = version.artists.map(&:name).join(', ')

              .song-content
                = version.to_html
