.setlist.setlist--show-songs
  = render '/setlists/header'

  .container.margin-content
    .no-print.mb-3#setlist-songs
      .card.card-xs-borderless
        .card-body.py-sm-2
          = render '/setlists/versions'

      .card.card-xs-borderless
        .card-body
          .custom-checkbox.custom-control
            = check_box_tag :chords, '1', true, class: 'custom-control-input js-toggle-chords'
            %label.custom-control-label{for: 'chords'} Show chords

  = render '/setlists/page'
