@import 'variables';
@import 'mixins';

@media print {
  @page { margin: 1.6cm 0; }

  body {
    margin: 0 1.6cm;
    display: block;
  }

  html {
    font-size: .6cm;
  }

  #header, #footer {
    display: none;
  }

  .song-page {
    max-width: initial;
    box-shadow: none;
    padding-left: 0;
    margin: 0;
    display: block;
    color: black;
  }

  .song-section {
    font-size: 1.5rem;
  }

  .no-print,
  .tooltip {
    display: none !important;
  }

  .song-section-title {
    font-size: 1em;
    opacity: 0.5;
  }

  .margin-content {
    margin-top: 0;
    margin-bottom: 0;
  }

  .glide__slides {
    transform: none !important;
    width: 100vw !important;
  }

  .glide__slide {
    display: none;
  }

  .glide__slide--active {
    display: block;
    width: 100vw !important;

    .container {
      padding-left: 0 !important;
    }
  }

  .comment {
    padding: 0;
  }
}
