%dl.mb-0
  %dt Title
  %dd= @version.title

  - if @version.author
    %dt Author
    %dd= @version.author

  - if @version.key.present?
    %dt Key
    %dd= @version.key

  %dt Uploaded by
  %dd
    = link_to @version.user, @version.user
