.setlist.mt-negative
  = render '/setlists/header'

  .container
    .row
      .col-md-5.no-print.order-md-0.mb-3#setlist-songs
        .card-title
          Songs
        .card
          .card-body
            = render '/setlists/versions'

      .col.order-md-1
        %article.song-page.mx-auto
          = render '/versions/page'
