@import '../principles/variables';

dl {

}

dd {
  margin-bottom: 0;

  &.lead {
    font-weight: normal;
    font-size: 1.25em;
  }
}

dt {
  font-size: .75rem;
  text-transform: uppercase;
  opacity: 0.75;
  font-weight: 400;

  &:not(:first-child) {
    margin-top: 1rem;
  }
}
