$flags: 'au', 'gb', 'br', 'co', 'es', 'fr', 'gb', 'mx', 'pt', 'us';

@each $flag in $flags {
  .flag-#{$flag} {
    background-image: url('flags/#{$flag}.svg');
  }
}

[class*='flag-'] {
  display: inline-block;
  width: 1.25em;
  height: 1em;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  .choices__item & {
    vertical-align: top;
    margin-right: 4px;
    margin-top: 3px;
  }
}

.flag-en {
  @extend .flag-gb;
}

.flag-pt-br {
  @extend .flag-br;
}

.fas, .fal, .far {
  height: 1em;
  min-width: 1em;
  display: inline-block;
  font-size: inherit;
}
